.top{
    background-color: black;
}
.btnDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
.comic{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.comic .container{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    text-align: justify;
}